<label>Post Title - Event Binding
  <input type="text" class="form-control" (input)="onUpdatePostTitle($event)"/>
</label>

<br>

<label>Post Title - Two Way Binding
  <input type="text" class="form-control" [(ngModel)]="postTitle"/>
</label>
<br>
<!--<p>{{ postTitle }}</p>-->

<!-- data and event binding-->
<button class="btn btn-primary" [disabled]="!allowNewPost" (click)="onCreatePost()">Add Post</button>
<br>
<!--property binding-->
<!--<p [innerText]="allowNewPost"></p>-->
<!--<p>{{ postCreationStatus}}</p>-->
<p *ngIf="postCreated; else noPosts">Post is created and the title is {{ postTitle }}</p>
<ng-template #noPosts>
  <p>No posts were created !</p>
</ng-template>
<br>

<p *ngFor="let post of posts" [ngStyle]="{backgroundColor: getColor()}"
   [ngClass]="{published: postStatus === 'published'}">
  This post with title {{ post }} is {{ getPostStatus() }} !
</p>
